/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */ }

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; }

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0; }

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline; }

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item; }

/**
 * base/global
 * ===========
 */
body {
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: auto; }

button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/**
 * base/typography
 * ===============
 */
:root {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #9698a6; }

body {
  font-size: 0.9rem;
  line-height: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #2d314d;
  font-weight: 400;
  letter-spacing: -0.03em; }

h1 {
  font-size: 2.5rem;
  line-height: 1.25; }

h2 {
  font-size: 2rem;
  line-height: 2.5rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem; }

h4 {
  font-size: 1.1rem;
  line-height: 1.35rem; }

p {
  margin: 0;
  padding: 0; }

/**
 * components/article-card
 * =======================
 */
.article-card {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0 0 8px -5px rgba(51, 51, 51, 0.8);
  border-radius: 8px;
  background-color: white;
  overflow: hidden; }
  .article-card__image {
    position: relative;
    padding-bottom: min(60%, 180px); }
    .article-card__image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .article-card__content {
    padding: 8% 8% 14% 8%;
    text-align: left; }
  .article-card__author {
    font-size: 0.6rem;
    line-height: 1rem; }
  .article-card__title {
    margin-top: 8px;
    color: #333; }
  .article-card__copy {
    margin-top: 12px;
    font-size: 0.84rem;
    line-height: 1.2rem; }
  @media (min-width: 1040px) {
    .article-card__image {
      padding-bottom: 75%; } }

/**
 * components/card-grid
 * ====================
 */
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 24px; }
  .card-grid--articles {
    gap: 32px; }

@media (min-width: 640px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    row-gap: 24px; }
    .card-grid--articles {
      gap: 24px; } }

@media (min-width: 920px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4%;
    row-gap: 0; }
    .card-grid--articles {
      column-gap: 2%;
      row-gap: 0; } }

@media (min-width: 1040px) {
  .card-grid--articles {
    column-gap: 3%;
    row-gap: 0; } }

/**
 * components/container
 * ====================
 */
.container {
  position: relative;
  background-color: white; }
  .container--header {
    z-index: 10;
    box-shadow: 0 0 5px -3px #999; }
  .container--light {
    background-color: #f3f4f6; }
  .container--very-light {
    background-color: #fafafa; }
  .container--dark {
    background-color: #2d314d; }
  .container__inner {
    max-width: 1120px;
    margin: 0 auto; }
    @media (min-width: 800px) {
      .container__inner {
        padding: 0; } }
    @media (min-width: 920px) {
      .container__inner {
        padding: 0 40px; } }

/**
 * components/content
 * ===================
 */
.content {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }
  .content__intro-title {
    font-size: 32px; }
  .content__intro-copy {
    margin-top: 20px;
    max-width: 650px;
    font-size: 0.9rem;
    line-height: 1.5rem; }
  .content__card-grid {
    margin-top: 52px; }

@media (min-width: 920px) {
  .content {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    text-align: left; }
    .content__intro-title {
      font-size: 36px;
      font-weight: 400; }
    .content__intro-copy {
      margin-top: 28px;
      font-size: 16px;
      line-height: 1.65em; }
    .content__card-grid {
      margin-top: 70px; }
      .content__card-grid--closer {
        margin-top: 55px; } }

@media (min-width: 1040px) {
  .content {
    padding-top: 100px; }
    .content__intro-title {
      font-size: 40px; }
    .content__intro-copy {
      margin-top: 32px;
      font-size: 18px;
      line-height: 1.6em; } }

/**
 * components/cta-btn
 * ==================
 */
.cta-btn {
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 0.72em 2.3em;
  border-radius: 2em;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  /*
     * Gradients cannot be animated, but a psuedo element overlay with a different gradient background CAN be animated with opacity.
     * How this technique works (overlay is between anchor element background and text):
        > Parent is position:relative AND has a z-index value (not auto) and is therefore a new stacking context. 
        > Psuedo 'child' is absolutely positioned and has a z-index of -1
        > The parent forms a stacking context so every child will stack within of it (including children with negative z-index).
        > IMPORTANT - the stacking order rules in a stacking context
        > 1. Background and borders of parent establishing new stacking context
        > 2. Children with negative z-index (the psuedo 'child')
        > 3. All other children following usual stacking order rules
     */ }
  .cta-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 2em;
    background: linear-gradient(to right, #25ad49, #1f94b2);
    opacity: 0;
    transition: opacity 0.3s linear; }
  .cta-btn:hover::before {
    opacity: 1; }
  .cta-btn:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(43, 183, 218, 0.3); }
  @media (max-width: 919px) {
    .cta-btn--header {
      padding: 0.5em 1.8em;
      font-size: 0.84rem; } }

/**
 * components/feature-card
 * =======================
 */
.feature-card {
  padding: 0 0 0 0;
  margin-bottom: 22px; }
  .feature-card__icon {
    width: 72px;
    height: 72px;
    margin: 0 auto; }
  .feature-card__title {
    margin-top: 24px;
    font-size: 20px; }
  .feature-card__copy {
    margin-top: 16px;
    font-size: 0.9rem;
    line-height: 1.5rem; }
  @media (min-width: 920px) {
    .feature-card__icon {
      margin-left: 0; }
    .feature-card__title {
      margin-top: 40px;
      font-size: 24px; }
    .feature-card__copy {
      margin-top: 26px;
      font-size: 16px;
      line-height: 26px; } }
  @media (min-width: 1040px) {
    .feature-card__title {
      margin-top: 40px;
      font-size: 24px; }
    .feature-card__copy {
      margin-top: 26px;
      font-size: 16px;
      line-height: 26px; } }

/**
 * components/features
 * ===================
 */
/**
 * components/footer
 * ==================
 */
.footer {
  padding-top: 40px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center; }
  .footer__logo {
    width: 139px;
    height: 20px;
    margin: 0 auto; }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px; }
  .footer__social-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px; }
    .footer__social-link:hover path {
      transition: fill 0.2s;
      fill: #31d35c; }
  .footer__social-link > svg {
    display: block; }
  .footer__nav {
    margin-top: 24px; }
  .footer__cta-btn {
    margin-top: 28px; }
  .footer__legal {
    margin-top: 24px; }

@media (min-width: 1040px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-areas: "logo   nav cta" "social nav legal"; }
    .footer__logo {
      margin: 0;
      margin-top: 10px;
      grid-area: logo;
      align-self: start;
      justify-self: start; }
    .footer__social {
      grid-area: social;
      margin-top: 0;
      margin-bottom: 8px;
      align-self: end;
      justify-self: start; }
    .footer__social-link {
      width: 20px;
      height: 20px;
      margin: 0 7px; }
    .footer__social-link:first-child {
      margin-left: 0; }
    .footer__nav {
      grid-area: nav;
      margin-top: 0px;
      align-self: stretch;
      justify-self: stretch; }
    .footer__cta-btn {
      grid-area: cta;
      margin: 0;
      margin-top: 10px;
      align-self: start;
      justify-self: end; }
    .footer__legal {
      grid-area: legal;
      margin-top: 0px;
      margin-bottom: 4px;
      align-self: end;
      justify-self: end; } }

/**
 * components/header
 * =================
 */
.header {
  padding: 0 22px;
  height: 50px; }
  .header__mobile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header__logo {
    width: 139px;
    height: 22px; }
  .header__nav-toggle {
    width: 32px;
    height: 32px; }
  .header__cta-btn {
    display: none; }

@media (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 70px;
    padding: 0 22px; }
    .header__nav-toggle {
      display: none; }
    .header__site-nav {
      display: flex;
      align-items: stretch; }
    .header__cta-btn {
      display: flex;
      align-items: center; } }

@media (min-width: 920px) {
  .header {
    padding: 0;
    height: 80px; } }

/**
 * components/hero
 * ===============
 */
.hero__image-wrap {
  display: flex;
  justify-content: center;
  height: 40vh;
  min-height: 250px;
  max-height: 400px;
  overflow: hidden;
  background: url("../images/bg-intro-mobile.svg") right bottom/cover no-repeat; }

.hero__image {
  height: 150%;
  transform: translatey(-34%); }
  .hero__image img {
    display: block;
    width: auto;
    height: 100%; }

.hero__content {
  padding-top: 32px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }

.hero__title {
  font-size: 2.5rem;
  line-height: 1.25; }

.hero__copy {
  margin-top: 16px; }

.hero__cta-btn {
  margin-top: 32px; }

@media (min-width: 920px) {
  .hero {
    height: 550px; }
    .hero__image-wrap {
      display: block;
      justify-content: unset;
      height: auto;
      min-height: auto;
      max-height: 100%;
      overflow: visible;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 50%;
      background: url("../images/bg-intro-desktop.svg") left 0% bottom 0%/auto 135% no-repeat; }
    .hero__image {
      height: 760px;
      width: auto;
      transform: translatey(-14%) translatex(100px); }
      .hero__image img {
        display: block; }
    .hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: left; }
    .hero__title {
      font-size: 3.5em;
      font-weight: 300;
      line-height: 1.18em; }
    .hero__copy {
      margin-top: 20px;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.5em; }
    .hero__cta-btn {
      margin-top: 40px; } }

@media (min-width: 1040px) {
  .hero {
    height: 650px; }
    .hero__image {
      height: auto; }
    .hero__title {
      font-size: 4em;
      line-height: 1.2em; }
    .hero__copy {
      margin-top: 24px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6em; } }

/**
 * components/logo
 * ====================
 */
.logo__link {
  display: block; }
  .logo__link svg {
    width: 100%;
    height: 100%;
    display: block; }

/**
 * components/nav-toggle
 * =====================
 */
.nav-toggle__btn {
  display: block;
  width: 100%;
  height: 100%; }

.nav-toggle__icon {
  display: none;
  margin: 0 auto; }
  .nav-toggle__icon--is-visible {
    display: block; }

/**
 * components/overlay
 * ==================
 */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#2d314d, rgba(45, 49, 77, 0.2));
  z-index: 2;
  cursor: pointer; }
  .overlay--is-visible {
    display: block; }
  @media (min-width: 1040px) {
    .overlay {
      display: none; } }

/**
 * components/secondary-nav
 * ====================
 */
.secondary-nav__list {
  margin: 0;
  padding: 0;
  list-style: none outside; }

.secondary-nav__item {
  padding: 4px 0; }

.secondary-nav__link {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: #f3f4f6;
  text-decoration: none; }
  .secondary-nav__link:hover {
    color: #31d35c; }

@media (min-width: 1040px) {
  .secondary-nav {
    column-count: 2;
    text-align: left; }
    .secondary-nav__item {
      padding: 6px 0; } }

/**
 * components/site-nav
 * ===================
 */
.site-nav {
  visibility: hidden;
  position: relative;
  top: 16px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /*
     * Can't animate 'display' - using 'visibility' instead
     */ }
  .site-nav--is-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s; }
  .site-nav__list {
    margin: 0 0;
    padding: 14px 0;
    list-style: none outside; }
  .site-nav__link {
    display: block;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #2d314d;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s; }
    .site-nav__link::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(45deg, #31d35c, #2bb7da);
      opacity: 0;
      transition: opacity 0.3s; }
    .site-nav__link:hover {
      color: white;
      text-decoration: none; }
    .site-nav__link:hover::before {
      opacity: 1; }

@media (min-width: 800px) {
  .site-nav {
    display: flex;
    visibility: visible;
    opacity: 1;
    align-items: stretch;
    position: static;
    width: auto;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    transition: none; }
    .site-nav__list {
      display: flex;
      align-items: stretch;
      margin: 0;
      padding: 0; }
    .site-nav__item {
      display: flex;
      align-items: stretch;
      height: 100%; }
    .site-nav__link {
      display: flex;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      margin: 0 8px;
      padding: 0 4px;
      font-size: 0.84rem;
      color: #9698a6;
      text-align: center;
      transition: color 0.3s;
      /*
             * allows a color gradient to be used in the hover state bottom border (can't use gradient on border)
             * animate the psuedo element's transform on hover (can animate an element with gradient background's position and opacity - but not gradient color [I also use psuedo elements for animating a button's gradient background color by fading the psuedo element overlay with opacity])
             */ }
      .site-nav__link::before {
        display: none; }
      .site-nav__link::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 2px 2px 0 0;
        background-image: linear-gradient(45deg, #31d35c, #2bb7da);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.3s ease 0.1s; }
      .site-nav__link:hover {
        background-image: none;
        color: #2d314d;
        text-decoration: none; }
        .site-nav__link:hover::after {
          width: 100%;
          transform: scaleY(1);
          transition: transform 0.05s ease 0s; } }

@media (min-width: 920px) {
  .site-nav__link {
    margin: 0 10px;
    padding: 0 8px;
    font-size: 0.9rem; } }

/**
 * utilities/utilities
 * ==================
 */
.z-0 {
  z-index: 0; }

.z-10 {
  z-index: 10; }

.z-20 {
  z-index: 20; }

.z-30 {
  z-index: 30; }

.z-40 {
  z-index: 40; }

.z-50 {
  z-index: 50; }

.z-auto {
  z-index: auto; }

/*# sourceMappingURL=main.css.map */