body{
    background-color: #f5f5f5;
    font:1em sans-serif;
}
.container{
    width:1000px;
    margin:20px auto; 
    padding:20px;
    background-color: #fff;
    border:1px solid #aaa;
    box-shadow:0 0 15px #eee;
}