/**
 * components/card-grid
 * ====================
 */

.card-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    &--gap{
        grid-gap:24px;
    }
    &__item{ 
        
    }

    @include bp($sm){
        grid-template-columns: 1fr 1fr;
    }
}