/**
 * components/content
 * ===================
 */

 .content{
    text-align:center;
    padding: $content-space-y-xs $content-space-x-xs;

    &__intro-title{

    } 
    &__intro-copy{
        margin-top:16px;
    }
    &__card-grid{
        margin-top:40px;
    }
}