/**
 * components/container
 * ====================
 */

.container{
    position:relative;
    background-color: $color-white;

    &__inner{

    }
    &--header{
        z-index:10;
    }
    &--light{
        background-color: $color-light-grayish-blue;
    }
    &--very-light{
        background-color: $color-very-light-gray;
    }
    &--dark{
        background-color: $color-dark-blue;
    }

}