/**
 * components/cta-btn
 * ==================
 */

 .cta-btn{
    display: inline-block;
    padding: 0.72em 2.3em;
    border-radius: 2em;
    background: linear-gradient(to right, $color-lime-green, $color-bright-cyan); 
    font-size: $font-size-sm;
    color: $color-white;
    text-decoration: none;

    &:hover{
        background: linear-gradient(to right, 
                                   darken($color-lime-green, 10%), 
                                   darken($color-bright-cyan, 10%));
    }
    &:focus{
        outline:none;
        box-shadow: 0 0 0 5px rgba($color-bright-cyan,.3);
    }

}