/**
 * components/feature-card
 * ===============
 */

.feature-card{
    padding:0;

    &__icon{
        width:72px;
        height:72px;
        margin:0 auto;
    }
    &__title{
        margin-top:24px;
    }
    &__copy{
        margin-top:20px;
    }

    @include bp($lg){
        &__icon{
            margin:0;
        }
        &__title{
            margin-top:40px;
            font-size: 24px;
        }
        &__copy{
            margin-top:26px;
            font-size: 16px;
            line-height:26px;
        }  
    }
}