/**
 * components/hero
 * ====================
 */

.hero{
  max-width: 800px;
  padding-bottom:80px;
  
  &__image-wrap{
    display:flex; 
    justify-content: space-around;
    height:40vh;
    min-height:200px;
    margin-bottom:32px;
    overflow:hidden;
    background: url(../../images/bg-intro-mobile.svg)
                right bottom / cover
                no-repeat;
  }
  &__image{
    height: 150%;
    transform: translatey(-34%);    
    img{
      display: block;
      width: auto;
      height: 100%;
    }
  }
  &__content{
    padding:0 $content-space-x-xs;
    text-align:center;
  }
  &__title{
    
  }
  &__copy{
    margin-top:16px;
  }
  &__cta-btn{
    margin-top:32px;
  }
  
}