/**
 * components/site-nav
 * ===================
 */

 .site-nav{
    $transition-time: 0.3s;
    
    visibility: hidden;
    position: relative;         
    top: 22px;
    width: 100%;
    z-index: 10;
    opacity:0;
    border-radius: 5px;
    background-color: #fff;  
    transition: visibility 0s ease $transition-time, opacity $transition-time;
    
    /*
     * Can't animate 'display' - using 'visibility' instead
     */
    &--is-visible{
        visibility: visible;
        opacity:1;
        transition: opacity $transition-time;
    }
    &__list{
        margin: 0 0;
        padding: 14px 0;
        list-style: none outside;
    }
    &__item{

    }
    &__link{
        display: block;
        margin: 0;
        padding: 10px 0;
        font-size: 18px;
        color: $color-dark-blue;
        text-align: center;
        text-decoration: none;

        // TODO
        transition:all 1s;
        
        &:hover{
            background-image: linear-gradient(45deg, $color-lime-green, $color-bright-cyan);
            color:white;
            text-decoration: none;
        }
    }
}

@include bp($lg){
    .site-nav{
        display: flex;
        visibility: visible;
        opacity: 1;
        align-items: stretch;
        position: static;
        width: auto;
        border-radius: 0;
        background-color: none;  
        transition: none;

        &__list{
            display: flex;
            align-items: stretch;
            margin: 0;
            padding: 0;
        }
        &__item{
            display: flex;
            align-items: stretch;
            height: 100%;
        }

        &__link{
            display: flex;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            margin: 0 13px;
            padding: 0 8px;
            font-size: $font-size-sm;
            color: $color-grayish-blue;
            text-align: center;
            transition:color 0.3s;

            /*
             * allows a color gradient to be used in the hover state bottom border (can't
             */
            &::after{
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                border-radius: 2px 2px 0 0;
                background-image: linear-gradient(45deg, $color-lime-green, $color-bright-cyan);
                transform: scaleY(0);
                transform-origin: bottom;
                // transition:width 0.2s;
                transition: transform 0.3s ease 0.1s;
            }
        
            &:hover{
                background-image: none;
                color: $color-dark-blue;
                text-decoration: none;
            
                &::after{
                    width: 100%;
                    transform: scaleY(1);
                    transition: transform 0.05s ease 0s;
                }
            }
        }
    }
}